


#main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  gap: 10px; 
}

.layout-item {
  background-color: #296170;
  width: 100%; 
  max-width: 400px; 
  height: 700px; 
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .layout-item {
    width: 90%; 
    height: 300px; 
  }
}
